<div class="section-container">

  <h2 class="main-title">Resend confirmation instructions</h2>

  <div class="form-wrapper">

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-fields-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'sign-button' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>