<div class="recipes-container d-flex flex-column align-items-center justify-center">

	<h1 class="main-title">Recipes List</h1>

	<div class="button-wrapper d-flex align-items-center">
		<%= link_to 'Add Recipe', new_recipe_path, class: 'btn primary-bg primary-text primary-border' %>
  </div>

	<% @recipes.each do |recipe| %>
		<div class="recipes">
			<div class="recipes-title d-flex flex-column align-items-center">
				<%= link_to recipe_path(recipe), class: 'dark-text' do %>
					<h2><%= recipe.name %></h2>
				<% end %>
				<%= link_to 'Remove', recipe_path(recipe), data: { turbo_method: :delete }, class: 'btn danger-bg danger-text danger-border' %>
			</div>
			<p><%= recipe.description.truncate(100) %></p>
		</div>
	<% end %>
</div>
