<div class="section-container">

  <h1 class="main-title"><%= @recipe.name %></h1>

  <div class="page-content">

    <div class="container_col-2 between">
      <h2 class="subtitle">Preparation Time: <%= to_hour(@recipe.preparation_time) %></h2>

      <% if can? :manage, @recipe %>
        <div>
          <%= turbo_frame_tag "Public" do %>
            <%= button_to update_status_recipe_path(@recipe), method: :patch, class: 'toggle-button' do %>
              <span class="toggle-button-title">Public</span> <span class="toggle-button__label <%= 'is_public' if @recipe.public %>"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>

    <h2 class="subtitle">Cooking Time: <%= to_hour(@recipe.cooking_time) %></h2>

    <h2 class="subtitle">Description:</h2>
    <p class="main-text"><%= @recipe.description %></p>

    <div class="container_col-2 between">
      <%= link_to 'Generate shopping list', foods_path, class: 'action-button' %>
      <% if can? :manage, @recipe %>
        <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe), class: 'action-button' %>
      <% end %>
    </div>

    <% if can? :manage, @recipe %>
      <table class="table">
        <thead class="table-header">
          <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <%= render partial: 'partials/table_recipe_foods_item', collection: @recipe.recipe_foods.includes(:food), as: :recipe_food %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
