<div class="section-container">

  <h1 class="main-title">Create a new food</h1>

  <div class="form-wrapper col-2-form">
    <%= form_with(model: @food, url: foods_path) do |f| %>
      <div class="form-fields-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: 'form-field' %>
      </div>
      <div class="form-fields-group">
        <%= f.label 'Measurement unit' %>
        <%= f.select :measurement_unit, options_for_select(['grams', 'milliliters', 'units']), { prompt: 'Select a  measurement' }, required: true, class: 'form-field' %>
      </div>
      <div class="form-fields-group">
        <%= f.label 'Unit price' %>
        <%= f.number_field :price, required: true, class: 'form-field' %>
      </div>
      <div class="form-fields-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, required: true, class: 'form-field' %>
      </div>
      <div class="actions">
        <%= f.submit "Save food", class: 'action-button' %>
        <%= link_to 'Cancel', foods_path, class: 'action-button warning' %>
      </div>
    <% end %>
  </div>
</div>