<div class="section-container">

  <h1 class="main-title">Edit an ingredient</h1>

	<div class="form-wrapper col-2-form">
      <%= form_with(model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food)) do |f| %>
        <div class="form-fields-group">
          <%= f.label 'Select your ingredient' %>
          <%= f.collection_select(:food_id, [@recipe_food.food], :id, :name_with_measurement_unit, {required: true}, {class: 'form-field'}) %>
        </div>
        <div class="form-fields-group">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, min: 1, step: 1, value: @recipe_food.quantity, required: true, class: 'form-field' %>
        </div>
        <div class="actions">
          <%= f.submit "Save ingredient", class: 'action-button' %>
          <%= link_to 'Cancel', recipe_path(@recipe), class: 'action-button warning' %>
        </div>
      <% end %>
  </div>
</div>